/*
Author: Jordan Hasz
Class: Internet Programming
Date Due: 2.11.2025
 */
body p {
    margin: 2em;
}

.title {
    font-weight: bold;
}

div > p {
    text-align: center;
}

#Hobbies_Container {
    display: flex;
    justify-content: center;
}

#Hobbies {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(147, 225, 216, 0.5);
    box-shadow: rgb(147, 225, 216) 10px 10px 10px;
    padding: 1em;
}

#More {
    display: flex;
    justify-content: center;
}

#Hobbies:hover {
    display: flex;
    justify-content: center;
    box-shadow: rgb(147, 225, 216) 10px 10px 10px inset;
    flex-grow: .05;
    font-weight: bold;
}

#Hobbies > li {
    justify-content: center;
}

footer {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

p > a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    background-color: rgba(147, 225, 216, 0.5);
    font-family: sans-serif;
}

body {
    background-color: #DDFFF7;
}

h3 {
    background-color: rgba(147, 225, 216, 0.5);
    text-align: center;
    font-family: sans-serif;
}

nav > ul {
    list-style-type: none;
    text-align: center;

}

nav > ul > li {
    display: inline-block;
    margin: 1em;
}

#Email {
    text-align: center;
}

img {
    height: 30em;
    margin-left: 1em;
    margin-right: 1em;
}

.vacation {
    height: 15em;
}

.photo {
    text-align: center;
}

nav {
    font-family: sans-serif;
    background-color: #93E1D8;
}

#Liked_Most {
    text-align: center;
    text-decoration: underline;
}

#ORU_Container {
    display: flex;
    justify-content: center;
}

#ORU {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(147, 225, 216, 0.5);
    box-shadow: rgb(147, 225, 216) 10px 10px 10px;
    width: 16em;
    padding: 1em;
}

#ORU > li:hover {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(147, 225, 216);
    font-weight: bold;
}

#Jeremiah {
    display: flex;
    justify-content: center;
}

blockquote {
    width: 30em;
    justify-content: center;
    line-height: 1.75em;
    background-color: rgba(147, 225, 216, 0.5);
    box-shadow: rgb(147, 225, 216) 10px 10px 10px;
}

blockquote:before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}

#ref {
    font-weight: bold;
}